*{
	margin:0px;
	padding:0px;	  
}

		   

body{
	text-align:center;
	background-image:url(IMG/ru35.jpg);

	}


.v{
	color:red;
	font-style: italic;
}

.uno{
color:#FF4500;
 font:bold 35px Z5,verdana,sans-serif;

}

.dos{
	color:#FF4500;
 font:bold 20px Z5,verdana,sans-serif;
}


#cleopatra{
 
 text-align:center;
}

h3{
	color:white;
	margin-right:80px;
 font:bold 40px Z5,verdana,sans-serif;
}
	
.a{
	color:black;
 font:bold 15px Z5,verdana,sans-serif;
 border-radius:5px;
 padding:20px;
 


}

	
.b{
	color:purple;
	font:bold 20px Z5,verdana,sans-serif;
 	float: center;
	cursor:pointer;
	margin-left:100px;
	margin-top:-300px;

}

	
.c{
	
 width:250px;
 height:30px;
 border-radius:20px;
margin-bottom:50px;

}

.w1{
width:100px;
 height:35px;
 border-radius:20px;
 margin-right:-130px;
 font:bold 12px Z5,verdana,sans-serif;
background:#FFFFCC;
cursor:pointer;
}


.c1{
	
 width:250px;
 height:30px;
 border-radius:20px;
margin-left:40px;

}

.d{
	color:white;
 width:200px;
 height:25px;
 border-radius:20px;

}

.e{
	color:purple;
 font:bold 20px Z5,verdana,sans-serif;
	cursor:pointer;
	margin-right:200px;
	margin-top:-20px;

}

.x{
	
	color:black;
	 font:bold 15px Z5,verdana,sans-serif;
	 border-radius:5px;
	 padding:20px;
	 margin-right:270px;
 
	
}

.x1{
 width:250px;
 height:30px;
 border-radius:20px;
margin-bottom:50px;
margin-left:20px;



}
.z{


	color:black;
	 font:bold 15px Z5,verdana,sans-serif;
	 border-radius:5px;
	 padding:20px;
	 margin-left:20px;

	
}

.z1{
width:250px;
 height:30px;
 border-radius:20px;
margin-bottom:50px;
margin-left:10px;


}


.z3{

 width:100px;
 height:35px;
 border-radius:20px;
 margin-right:-400px;
 font:bold 20px Z5,verdana,sans-serif;
background:#FFFFCC;
cursor:pointer;




}

.z4{

 width:100px;
 height:35px;
 border-radius:20px;
 margin-top:-1000px;
margin-left:480px;
 font:bold 20px Z5,verdana,sans-serif;
background:#FFFFCC;
cursor:pointer;



}











